<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Page</title>
</head>
<body>
  <header>
    <h1>Contact Page</h1>
  </header>
  <main>
    <form action="/contact-us" method="POST">
    <input type="text" id="name" name="name" placeholder="Enter your name"><br><br>
    <label for="gender">Gender:</label>
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br><br>
    <button type="submit">Submit</button>
  </form>
  </main>
</body>
</html>